<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>511360548682-j9uj3n16ffof6ldmqk1a18u8a4a8rejq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511360548682-j9uj3n16ffof6ldmqk1a18u8a4a8rejq</string>
	<key>API_KEY</key>
	<string>AIzaSyDWTSdqjMFzjNNlWciHq-gXO2nbfbTCxrA</string>
	<key>GCM_SENDER_ID</key>
	<string>511360548682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kropsmaps</string>
	<key>PROJECT_ID</key>
	<string>krops-a9384</string>
	<key>STORAGE_BUCKET</key>
	<string>krops-a9384.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511360548682:ios:6ffe10e3ffdd95c0</string>
	<key>DATABASE_URL</key>
	<string>https://krops-a9384.firebaseio.com</string>
</dict>
</plist>